@model RecipeBook.Web.ViewModels.IngredientsSet.IngredientsSetScreenViewModel;

<form id="keyForm" asp-controller="IngredientsSet" method="Post"></form>

@{ 
    Model.Mode = "Edit";
}
<div class="container">
    <div type="hidden" id="model_data" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model, Newtonsoft.Json.Formatting.Indented,
        new Newtonsoft.Json.JsonSerializerSettings { ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver() })"></div>
    <div class="row">
        <div class="col-sm-12 col-md-2 col-lg-2">
            @await Component.InvokeAsync("SideBarFilter", new { searchData = Model.SearchData })
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5" id="SearchResultListPartialView">
            <partial name="SearchResultList" model="@Model" data="@Model" />
        </div>
        <div class="col-sm-12 col-md-5 col-lg-5" id="IngredientsSetItemsListPartialView">
            <partial name="IngredientsSetItemsList" model="@Model" data="@Model" />
        </div>
    </div>
</div>

    @section Scripts {
        <script src="~/js/ingredientsSetView.js" asp-append-version="true"></script>
        <script src="~/js/sideBar.js" asp-append-version="true"></script>
    }
