@model RecipeBook.Web.ViewModels.Home.SideBarFilterViewModel

<div class="card">
    <article class="card-group-item">
        <header class="card-header">
            @if (Model.Mode == RecipeBook.Web.ViewModels.Home.SearchDataModeEnum.Recipe)
            {
                <h6 class="title">Filter by recipe name</h6>
            }
            else
            {
                <h6 class="title">Filter by ingredient name</h6>
            }
        </header>
        <div class="filter-content">
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.SearchedText))
                {
                    <input class="search-form form-control" placeholder="@Model.SearchedText" id="searchBox" type="text" value="@Model.SearchedText">
                }
                else
                {
                    <input class="search-form form-control" placeholder="Search..." id="searchBox" type="text">
                }
            </div>
        </div>
    </article>
    @if (Model.Mode == RecipeBook.Web.ViewModels.Home.SearchDataModeEnum.Recipe)
    {
        <article class="card-group-item">
            <header class="card-header">
                <h6 class="title">Filter by recipe type </h6>
            </header>
            <div class="filter-content">
                <div class="card-body">
                    <form>
                        <div class='collapse show' @*id=RecipeTypes*@>
                            @foreach (var item in Model.RecipeTypes)
                            {
                                <label class="form-check ml-2">
                                    <input class="form-check-input" type="checkbox" value="" id='@item.Id' checked="@item.Checked" name='Recipe_Type_Checkbox_ +@item.Name'>
                                    <span class="form-check-label">
                                        @item.Name
                                    </span>
                                </label>
                            }
                        </div>
                    </form>
                </div>
            </div>
        </article>
    }
    <article class="card-group-item">
        <header class="card-header">
            <h6 class="title">Filter by ingredients</h6>
        </header>
            <div class="card-body">
                <form>
                    @foreach (var item in Model.IngredientTypes)
                    {
                        string ingrIds = string.Empty;
                        @foreach (var ingr in item.Ingredients)
                        {
                            ingrIds += ingr.Id + ' ';
                        }
                        if (ingrIds.Length > 0)
                        {
                            ingrIds = ingrIds.Substring(0, ingrIds.Length - 1);
                        }
                        if (!item.Checked)
                        {
                            <label class="form-check" data-toggle="collapse" data-target=".@item.Name-collapse" aria-expanded="false" aria-controls="@ingrIds">
                                <input class="form-check-input" type="checkbox" value="" name="Ingr_Type_Checkbox_+ @item.Name">
                                <span class="form-check-label">
                                    @item.Name
                                </span>
                            </label>

                            @foreach (var ingr in item.Ingredients)
                            {
                                <div class="collapse @item.Name-collapse" id="@ingr.Id">
                                    <label class="form-check ml-2">
                                        @if (ingr.Checked)
                                        {
                                            <input class="form-check-input" type="checkbox" value="" onclick="" id='@ingr.Id' name='Ingr_Checkbox_+ @ingr.Name' checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" value="" onclick="" id='@ingr.Id' name='Ingr_Checkbox_+ @ingr.Name' />
                                        }
                                        <span class="form-check-label">
                                            @ingr.Name
                                        </span>
                                    </label>

                                </div>

                            }
                        }
                        else
                        {
                            <label class="form-check" data-toggle="collapse" data-target=".@item.Name-collapse" aria-expanded="true" aria-controls="@ingrIds">
                                <input class="form-check-input" type="checkbox" value="" name="Ingr_Type_Checkbox_+ @item.Name" checked>
                                <span class="form-check-label">
                                    @item.Name
                                </span>
                            </label>

                            @*<a class="checkbox" data-toggle="collapse" role="button"
                            href=".@item.Name-collapse" aria-expanded="false"
                            aria-controls="@ingrIds">
                            "@item.Name"
                            </a>*@

                            @foreach (var ingr in item.Ingredients)
                            {
                                <div class="collapse show @item.Name-collapse" id="@ingr.Id">
                                    <label class="form-check ml-2">
                                        @if (ingr.Checked)
                                        {
                                            <input class="form-check-input" type="checkbox" value="" onclick="" id='@ingr.Id' name='Ingr_Checkbox_+ @ingr.Name' checked>
                                        }
                                        else
                                        {
                                            <input class="form-check-input" type="checkbox" value="" onclick="" id='@ingr.Id' name='Ingr_Checkbox_+ @ingr.Name' />
                                        }
                                        <span class="form-check-label">
                                            @ingr.Name
                                        </span>
                                    </label>
                                </div>
                            }
                        }
                    }
                </form>
            </div>
        
    </article>
</div>