@model RecipeBook.Web.ViewModels.Recipe.RecipeViewModel

<form id="keyForm" method="Post"></form>

<div class="container">
    <form>
        <div class="row">
            <div class="col-md-8 col-lg-7 pb-4">
                <div class="card card-inverse card-primary" id="image_box">
                    @{ if (string.IsNullOrEmpty(Model.ImagePath))
                        {
                            <img class="img-fluid" alt="No image here" width="680" height="680" draggable="true">                            
                        }
                        else
                        {
                            <img class="img-fluid" src="@Model.ImagePath" alt="No image here" width="680" height="680" draggable="true">
                        }
                    }

                </div>
            </div>
            <div class="col-md-4 col-lg-5">
                <div class="row h-100">
                    <div class="col-md-12 col-lg-12 h-100 pb-4">
                        <div class="card card-inverse bg-transparent h-100">
                            <div class="row h-75">
                                <div class="col-md-12 h-100 p-4">
                                    <h3>
                                        Title:<br />@Model.Name
                                    </h3>
                                    <h6>
                                        Recipe Type:<br />@Model.RecipeType.Name
                                    </h6>
                                    <div class='rating-stars mb-0' title="Taste:">
                                        <ul id='TasteRateStars' data-value='@Model.Id,@Model.TasteRate'>
                                            <li class='star' title='Poor' data-value='1'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Fair' data-value='2'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Good' data-value='3'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Excellent' data-value='4'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='WOW!!!' data-value='5'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class="list-inline-item"><p class="text-muted" id="taste_rate">(Taste rate:@Model.TasteRate)</p></li>
                                        </ul>
                                    </div>
                                    <div class='rating-stars mb-0 mt-0' title="Easy:">
                                        <ul id='EasyRateStars' data-value='@Model.Id,@Model.EasyRate'>
                                            <li class='star' title='Poor' data-value='1'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Fair' data-value='2'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Good' data-value='3'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='Excellent' data-value='4'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class='star' title='WOW!!!' data-value='5'>
                                                <i class='fa fa-star fa-fw'></i>
                                            </li>
                                            <li class="list-inline-item"><p class="text-muted" id="easy_rate">(Easy rate:@Model.EasyRate)</p></li>
                                        </ul>
                                    </div>
                                    <label asp-for="@Model.LastCooked" class="control-label">
                                        Last cooked:
                                    </label>
                                    <input asp-for="@Model.LastCooked" class="form-control" readonly value="@Model.LastCooked.ToString("s")" />
                                </div>
                            </div>
                            <div class="row h-15">
                                <div class="col-sm-6  col-lg-12 p-4">
                                    <i class="far fa-clock"></i>@Model.PreparationTime preparation time
                                </div>
                            </div>
                            <div class="row h-5">
                                <div class="col-sm-6  col-lg-12 pl-4 pr-4">
                                    <button type="submit" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-sm btn-secondary rounded-pill"><i class="fas fa-edit"></i>Edit</button>
                                </div>
                                <div class="col-sm-6  col-lg-12 pl-4 pr-4">
                                    <button type="button" class="btn btn-sm btn-success rounded-pill" onclick="OnCookedTodayClick('@Model.Id')"><i class="fas fa-check-circle"></i>Cooked Today</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row pb-4">
            <div class="col">
                <div class="card card-inverse card-success p-4">
                    <p>Ingredients:</p>
                    @if (Model.IngredientSet != null)
                    {
                        foreach (var item in Model.IngredientSet.IngredientSetItems)
                        {
                            <p>. @item.QTYData @item.IngredientName</p>
                        }
                    }
                </div>
            </div>
        </div>

        <div class="row pb-4">
            <div class="col">
                <div class="card card-inverse card-success p-4">
                    <p>Description:</p>
                    <p style="white-space: pre-wrap">@Model.Text</p>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/js/recipeDetailsView.js" asp-append-version="true"></script>
    <script src="~/js/fiveStarsVote.js" asp-append-version="true"></script>
}
