@model RecipeBook.Web.ViewModels.Recipe.IndexViewModel

<form id="keyForm" method="Post"></form>

<div class="container">
    @{
        var serializedSearchData = Newtonsoft.Json.JsonConvert.SerializeObject(Model.SearchData, Newtonsoft.Json.Formatting.Indented,
        new Newtonsoft.Json.JsonSerializerSettings { ContractResolver = new Newtonsoft.Json.Serialization.CamelCasePropertyNamesContractResolver() });
    }
    @*<div class="row d-block d-sm-none">
            <button type="button" class="btn btn-default">
                <span class="fas fa-sort-down"></span>Filter
            </button>
        </div>*@
    <div class="row">
        <div class="col-sm-12 col-md-3 col-lg-3">
            @await Component.InvokeAsync("SideBarFilter", new { searchData = Model.SearchData })
        </div>
        <div class="col-sm-12 col-dm-9 col-lg-9" id="partialView">
            <partial name="ResultList" model="@Model" data="@Model" />
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/js/recipeIndexView.js" asp-append-version="true"></script>
    <script src="~/js/sideBar.js" asp-append-version="true"></script>
    <script src="~/js/fiveStarsVote.js" asp-append-version="true"></script>
    <script>

        var recipeIndexViewHelper = new RecipeIndexViewHelper('@Model.SearchData.Text', '@Model.SearchData.RecipeTypes', '@Model.SearchData.Ingredients');
    </script>

}
